body {
    background-color: #234d72;
    font-family: Arial, sans-serif;
}

.screen {
    display: none;
    background: white;
    width: 650px;
    margin: 80px auto;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

#screen1 {
    display: block;
}

input, select {
    width: 60%;
    padding: 10px;
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    margin: 10px;
    background-color: darkmagenta;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#optionsBox button {
    display: block;
    width: 80%;
    margin: 8px auto;
}

button.correct:disabled {
    background-color: green;
    color: white;
}

button.wrong:disabled {
    background-color: red;
    color: white;
}
#nameError,
#categoryError {
    color: red;
    font-weight: bold;
}
